{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/blolleyball/static/grid-teams.css">
<div class="grid-container">
	<h1 class="title" id="title">
		Teams
	</h1>
	<div id="teams">
		{% for team in teams %}
			<a  class="team bordered">
				<div>
				{{ team.name }}
				</div>
			</a>
		{% endfor %}
	</div>
	<h1 class="title" id="team-title">
		No Team Selected
	</h1>
	<div id="selected-team">
	</div>
	<script>
		teams = document.querySelector('#teams');
		var selectedTeamId = 0
		children = teams.children;
		for (let i = 0; i < children.length; i++) {
		  let team = children[i];
		  team.addEventListener('click', function(){
    		selectTeam(i);
		  });
		}

		teams_data = 0
		fetch('/blolleyball/api/teams')
  			.then(response => response.json())
  			.then(data => teams_data = data['data'])
		
		selectTeam = function(id) {
			selectedTeamId = id
			team = teams_data[id]
			titleDiv = document.querySelector('#team-title')
			titleDiv.innerHTML = team.name
			titleDiv.hidden = false

			selectedTeam = document.querySelector('#selected-team')
			selectedTeam.hidden = false

			while (selectedTeam.firstChild) {
        		selectedTeam.removeChild(selectedTeam.firstChild);
    		}

			for (let p in team.players) {
				player = team.players[p]
				playerDiv = document.createElement('div')
				display_p = parseInt(p) + 1
				playerText = document.createTextNode("#" + display_p + " " + player.name + " " + player.rating + "★")
				playerDiv.appendChild(playerText)
				playerDiv.classList.add('player')
				playerDiv.classList.add('bordered')
				playerDiv.classList.add('buttoned')
				selectedTeam.appendChild(playerDiv)
				playerDiv.addEventListener('click', function(){
    				selectPlayer(p);
		  		});
			}
		}

		selectPlayer = function(id) {
			team = teams_data[selectedTeamId]
			selectedTeam = document.querySelector('#selected-team')

			selectedPlayer = selectedTeam.children[id]

			for (let child of selectedTeam.children) {
				if (child.children.length > 0) {
					child.removeChild(child.children[0])
				}
			}
			

			statsDiv = document.createElement('div')
			statsDiv.classList.add('small-text')
			statsDiv.classList.add('align-left')

			console.log(team.players[id].name)

			for (let key in team.players[id].stats) {
				stat = team.players[id].stats[key]
				key = key.replaceAll('_', ' ')
				key = key.replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())))
				roundedStat = Math.round(stat*5)
				stars = ''
				for (let i = 0; i < roundedStat; i++) {
					stars += '★'
				}
				if (stars == '') {stars = '-'}
				visualStat = key + ' ' + stars
				statDiv = document.createElement('div')
				statText = document.createTextNode(visualStat)
				statDiv.appendChild(statText)
				statsDiv.append(statDiv)
			}

			selectedPlayer.appendChild(statsDiv)
		}

	</script>
</div>
{% endblock content %}